*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    background-color:#FD6E0A;
    color: #FFF8F3;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

/* Nav-Bar Styles */
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}